<html>
  <body>
    {{#with transaction}}
    <h1>{{other-party.display-name}} a laissé un avis.</h1>

    {{#each reviews}}
      {{#eq recipient.id subject.id}}
        <blockquote><i>"{{content}}"</i></blockquote>
      {{/eq}}
    {{/each}}

    <p>L'avis a été laissé sur le food truck {{marketplace.name}}.</p>

    <p>
      <a href="{{marketplace.url}}/u/{{url-encode recipient.id}}">Votre profile.</a>
    </p>
    {{/with}}

    <hr />

    <p>
      Vous avez reçu ce mail car vous êtes membre de {{ marketplace.name }}.
      Si vous ne souhaitez plus recevoir de mail, veuillez contacter l'équipe {{ marketplace.name }}.
    </p>
  </body>
</html>
