<html>
  <body>
    {{#with transaction}}
    <h1>Découvrez ce que {{other-party.display-name}} a écrit!</h1>

    <p>{{other-party.display-name}} vous a laissé un avis. Pour voir ce qu'ils ont écrit vauillez leur laisser un avis.</p>

    <p>
      <a href="{{marketplace.url}}/{{#eq recipient-role "customer"}}order{{else}}sale{{/eq}}/{{url-encode id}}/details">Laisser un avis</a>
    </p>
    {{/with}}

    <hr />

    <p>
      Vous avez reçu ce mail car vous êtes membre de {{ marketplace.name }}.
      Si vous ne souhaitez plus recevoir de mail, veuillez contacter l'équipe {{ marketplace.name }}.
    </p>  </body>
</html>
