<html>
  <body>
    {{#with transaction}}
    <h1>Comment s'est passé l'évennement avec {{customer.display-name}}? Donnez votre avis!</h1>

    <p>{{customer.display-name}} a récemment  {{listing.title}}. Laissez lui un avis .</p>

    <p><a href="{{marketplace.url}}/sale/{{url-encode id}}/details">Laisser un avis</a></p>
    {{/with}}

    <hr />

    <p>
      Vous avez reçu ce mail car vous êtes membre de {{ marketplace.name }}.
      Si vous ne souhaitez plus recevoir de mail, veuillez contacter l'équipe {{ marketplace.name }}.
    </p>  </body>
</html>
