@import '../../styles/customMediaQueries.css';
@import '../../styles/propertySets.css';

.root{
    margin-top: 20px;
}
.submitButton{
    margin-top: 20px;
}
.speculateError {
    color: var(--failColor);
    margin: 19px 0 1px 0;
  
    @media (--viewportLarge) {
      margin: 28px 48px 0 48px;
    }
  }
  