{{~#*inline "format-date"~}}
{{#with transaction.listing.availability-plan}}
{{date date format="h:mm a" tz=timezone}} on {{date date format="MMM d, YYYY" tz=timezone}}
{{/with}}
{{~/inline~}}

<html>
  <body>
  {{#eq recipient.private-data.language "FR"}}
    <h1>Votre demande de réservation a expiré.</h1>

    {{#with transaction}}
    <p>
      Malheureusement  {{ provider.display-name }} n'a pas répondu à votre demande de réservation de
      {{ listing.title }} du {{> format-date date=booking.start}} au
      {{> format-date date=booking.end}} à temps, la requete a donc expiré.
    </p>
    {{/with}}

    <p><a href="{{ marketplace.url }}">Essayez de réserver un autre food truck !</a></p>

    <hr />

  <p>
    Vous avez reçu ce mail car vous êtes membre de {{ marketplace.name }}.
    Si vous ne souhaitez plus recevoir de mail, veuillez contacter l'équipe {{ marketplace.name }}.
  </p>
  {{else}}
  <h1>Ihre Buchungsanfrage ist abgelaufen.</h1>

  {{#with transaction}}
  <p>
    Leider hat {{ provider.display-name }} nicht auf Ihre Buchungsanfrage von
    {{ listing.title }} vom {{> format-date date date=booking.start}} bis zum
    {{> format-date date=booking.end}} nicht rechtzeitig geantwortet, sodass die Anfrage abgelaufen ist.
  </p>
  {{/with}}

  <p><a href="{{ marketplace.url }}">Versuchen Sie, einen anderen Foodtruck zu buchen !</a></p>

  <hr />

  <p>
    Sie haben diese E-Mail erhalten, weil Sie Mitglied von {{ marketplace.name }}.
    Wenn Sie keine weiteren E-Mails mehr erhalten möchten, wenden Sie sich bitte an das Team {{ marketplace.name }}.
  </p>
  {{/eq}}
  </body>
</html>
